@import url(base.css);
body{
	background: #c41818;
	overflow: hidden;
}
.header{
	width: 0.91rem;
	height: 0.28rem;
	background: #c41818;
	margin: auto;
	margin-top: 1.46rem;
}
.header p{
	font-size: 0.28rem;
	color: #fefefe;
}
.header-down{
	width: 2.47rem;
    height: 0.22rem;
    background: #c41818;
    margin: auto;
    margin-top: 0.23rem;
    margin-left: 2.8rem;
}
.header-down p{
    font-size: 0.22rem;
    color: #dc8c8c;
}
.header1{
	width: 3.45rem;
	height: 3rem;
	margin: auto;
}
.header1 img{
	width: 3.5rem;
	height: 3.5rem;
}
.circle{
	width: 13rem;
	height: 8.5rem;
	background: #c41818;
	position: relative;
}
.circle img{
	width: 13rem;
	height: 8.5rem;
	margin-top: 2.74rem;
	margin-left: -3rem;
}
.circle1{
	width: 3.67rem;
	height: 0.7rem;
	background: #e9e9e9;
    position: absolute;
    top: 5.3rem;
    left: 1.88rem;
    border-radius: 0.3rem;
}
.circle1 p{
	font-size: 0.23rem;
	color: #fff;
	text-align: center;
	line-height: 0.7rem;
}